<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Projet</display-name>
  <servlet>
    <servlet-name>cs</servlet-name>
    <servlet-class>web.controleurServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cs</servlet-name>
    <url-pattern>/controleur</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>cs</servlet-name>
    <url-pattern>*.php</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>as</servlet-name>
    <servlet-class>web.ServletIndex</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>as</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>60</session-timeout>
  </session-config>
  <servlet>
    <servlet-name>ServletClient</servlet-name>
    <servlet-class>web.ServletClient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletClient</servlet-name>
    <url-pattern>/ClientLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletAfficherClient</servlet-name>
    <servlet-class>web.ServletAfficherClient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletAfficherClient</servlet-name>
    <url-pattern>/AfficherClient</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletCompte</servlet-name>
    <servlet-class>web.ServletCompte</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletCompte</servlet-name>
    <url-pattern>/AncienClient</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletAfficherCompte</servlet-name>
    <servlet-class>web.ServletAfficherCompte</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletAfficherCompte</servlet-name>
    <url-pattern>/client</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletModifierClient</servlet-name>
    <servlet-class>web.ServletModifierClient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletModifierClient</servlet-name>
    <url-pattern>/modifierClient</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>ServletAfficherOperation</servlet-name>
    <servlet-class>web.ServletAfficherOperation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletAfficherOperation</servlet-name>
    <url-pattern>/listOperation</url-pattern>
  </servlet-mapping>
</web-app>